{% extends "base.html" %}
{%- block content %}
      <h1>Hello World! This environment is "{{ environment }}"</h1>
      <p>The farm has these animals:</p>
      <ul class="list-group list-group-flush mb-4">
        {%- for entry in animals %}
          <li class="list-group-item">{{ entry.animal }} eats {{ entry.diet }}</li>
        {%- endfor %}
      </ul>
      <form action="/" method="post">
        <div class="mb-3">
          <label for="animal1" class="form-label">Animal</label>
          <input type="text" name="animal" class="form-control" id="animal1">
        </div>
        <div class="mb-3">
          <label for="diet1" class="form-label">eats</label>
          <input type="text" name="diet" class="form-control" id="diet1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{%- endblock %}
